{% extends 'base.html.twig' %}


{% block body %}
<body>
    <


        <!-- Header Start -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Nos services</h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="services.html">Services</a></li>
                    <li class="breadcrumb-item text-white active"<a href="about.html" aria-current="page">À propos</a></li>
                </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->

         <!-- Nos Services Start -->
          <div class="container-xxl py-5">
              <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
                  Nos Services
                </h1>
                <div class="row g-4">
                  <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" href="">
                      <i class="fa fa-3x fa-leaf text-primary mb-4"></i>
                      <h6 class="mb-3">Gestion des Exploitations</h6>
                      <p class="mb-0">Gestion optimisée des fermes pour une agriculture durable.</p>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item rounded p-4" href="">
                      <i class="fa fa-3x fa-cogs text-primary mb-4"></i>
                      <h6 class="mb-3">Vente d'Équipements Agricoles</h6>
                      <p class="mb-0">Achetez des équipements pour améliorer la production agricole.</p>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item rounded p-4" href="">
                      <i class="fa fa-3x fa-tractor text-primary mb-4"></i>
                      <h6 class="mb-3">Location de Terrains</h6>
                      <p class="mb-0">Louez ou achetez des terrains pour des projets agricoles ou personnels.</p>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item rounded p-4" href="">
                      <i class="fa fa-3x fa-people-carry text-primary mb-4"></i>
                      <h6 class="mb-3">Offres d'Emploi Agricoles</h6>
                      <p class="mb-0">Publiez des offres pour des emplois saisonniers dans le secteur agricole.</p>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" href="">
                      <i class="fa fa-3x fa-calendar-check text-primary mb-4"></i>
                      <h6 class="mb-3">Organisation d'Événements</h6>
                      <p class="mb-0">Organisez des événements pour promouvoir les fermes et les produits agricoles.</p>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item rounded p-4" href="">
                      <i class="fa fa-3x fa-store text-primary mb-4"></i>
                      <h6 class="mb-3">Vente de Produits Agricoles</h6>
                      <p class="mb-0">Achetez des produits frais directement depuis les fermes locales.</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Nos Services End -->
  </body>
{% endblock %}