body{
    background-color: #F4F6FF;
}

.form-container {
    display:flex;
    justify-content: center;
    max-width: 500px;
    max-height:800px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 18px;
    font-family: inherit;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #C8C8C8;
    margin:auto;
    margin-top: 10%;
}

.form-container button:active {
    transform: scale(0.95);
}

.form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 3px;
}

.form-container .form-group input {

    padding: 12px; /* Adjusted padding */
    border-radius: 6px;
    font-family: inherit;
    border: 2px solid #ccc;
    box-sizing: border-box; /* Include padding and border in the total width */

}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #002C8A;
}

.form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #020071;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    /*margin: 12px 0;*/
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
    background-color: #01004B;
}

.form-container .link {
    color: #0021A5;
    text-decoration: none;
}

.form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.form-container .signup-link .link {
    font-weight: 400;
}

.form-container .link:hover {
    text-decoration: underline;
}


input::placeholder{
    font-size:17px;
}

.form-submit-btn {
    margin-top: 30px;
}

.signup-link {
    margin-right:58px ;
    text-size:10px;
}

input{
    font-size: 17px;
    letter-spacing: 0.4px;
}
.form{
    margin-top: 10px;
}

.error-container  {
    display: flex;
    align-items: center;
    background-color:#FFDEDE;
}

.error-message {
    color: red;
    font-size: 13px;
    margin-left: 2px;
}
.icon-container {
    margin-right: 5px;
    width: 18px; /* Taille de l'icône */
    height: 18px; /* Taille de l'icône */
    background-color: red; /* Couleur du cercle */
    border-radius: 50%; /* Pour rendre le conteneur rond */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.logo-container{
    margin-bottom: 15px;
}

.showPassword{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 12px;
    gap:5px;
    color: #787878;
    font-size:16px;
    font-weight: 700;
}
.Regex{
    display:flex;
    align-items: center;
    margin-top: 5px;
    color: gray;
    text-decoration: underline;
    font-size:16px;
    gap:5px;
    margin-top: 10px;
    cursor: pointer;
}

.normeRegex{
    margin-top: 3px;
    background-color:#E6EAFF;
    border-radius: 5px;
    display:none;
    font-size: 15px;
    padding-bottom: 0px;
}

.CloseNormeRegex{
    margin-left: 93%;
    margin-top: 2%;
    color: gray;
    cursor: pointer;
}