{% extends 'base.html.twig' %}

{% block title %}Liste des Messages{% endblock %}

{% block body %}
  <h1>Liste des Messages</h1>
  <ul>
    {% for message in messages %}
      <li>
        <a href="{{ path('message_show', {'id': message.id}) }}">
          {{ message.content|slice(0, 50) }}...
        </a>
      </li>
    {% else %}
      <li>Aucun message trouvé.</li>
    {% endfor %}
  </ul>
{% endblock %}
